[flake8]
ignore = H601,E501
exclude = __init__.py

# flake8-quotes
inline-quotes = single
multiline-quotes = double

# flake8-import-order
application-import-names = dmm_api
import-order-style = google

# flake8-coding
no-accept-encodings = True
