[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-blind-except = "*"
flake8-bugbear = "*"
flake8-class-newline = "*"
flake8-colors = "*"
flake8-docstrings = "*"
flake8-html = "*"
flake8-import-order = "*"
flake8-trailing-commas = "*"
pep8-naming = "*"
yapf = "*"
mypy = "*"

[packages]
requests = "*"
tqdm = "*"

[requires]
python_version = "3.7"
